<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/styles.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="main_nav">
        {% if user and user.is_authenticated %}
        <h2 id="user_info">Logged in as: <span>{{ user }}</span></h2>
        {% else %}
        <h2 id="user_info">You are not logged in</span></h2>
        {% endif %}
        <nav>
            {% if user and user.is_authenticated %}
            <ul>
                <li><a href="{% url 'home' %}">Dashboard</a></li>
                <li><a href="{% url 'event_home' %}">Events</a></li>
            </ul>
            {% endif %}
        </nav>

        <div class="user_functions">
            <div>
                {% if user and user.is_authenticated %}
                    <ul>
                        {% if user.is_superuser %}
                        <li><a href="{% url 'event_manage' %}">Manage Events</a></li>
                        <li><a href="{% url 'organizer_manage' %}">Manage Organizers</a></li>
                        <li><a href="{% url 'participant_manage' %}">Manage Participants</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

                    <ul>
                        {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}">Log-in</a></li>
                        {% endif %}
                        {% if user and user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>

    </div>

    <header>

    </header>

    <main>
        <div class="wrapper">
            <div class="main_con">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% block content %} {% endblock content %}

            </div>
        </div>
    </main>
<!--    MODAL-->
    <div id="modal_alert" style="display:none;">
        <div id="modal_overlay"></div>
        <div id="modal">
            <div class="modal_con">
                <div class="modal_header">
                    <h2 id="modal_title">header</h2>
                </div>
                <div class="modal_body">
                    <p id="modal_text">body</p>
                </div>
                <div id="modal_footer" class="modal_footer">
                    <button id="modal_yes">Yes</button>
                    <button id="modal_no">No</button>
                </div>
            </div>
        </div>
    </div>
<!--    END MODAL-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<!--    INITIALIZE MODAL-->
    <script>
        function showModal(content){
            $('#modal_title').html(content.title);
            $('#modal_text').html(content.body);
            $("#modal_yes").on('click', content.onYes)
            $("#modal_no").on('click', function(){
                $('#modal_alert').hide();
            });
            $("#modal_overlay").on('click', function(){
                $('#modal_alert').hide();
            })
            $('#modal_alert').show();
        }
    </script>
<!--    END INITIALIZE MODAL-->
    {% block scripts %}{% endblock scripts %}
</body>
</html>