<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'pages/styles.css' %}">
        {% if not user.is_authenticated %}
        <style>
            .wrapper{padding-left:0px; !important}
        </style>
        {% endif %}
    {% block head %}{% endblock head %}
</head>
<body>
    {% if user and user.is_authenticated %}
    <div class="main_nav">
        {% if user and user.is_authenticated %}
        <h2 id="user_info">Logged in as: <span>{{ user }}</span></h2>
        {% else %}
        <h2 id="user_info">You are not logged in</span></h2>
        {% endif %}
        <nav>
            {% if user and user.is_authenticated %}
            <ul>
                <li class="{% if active_menu == 'dashboard' %}active{% endif %}"><a href="{% url 'home' %}">Dashboard</a></li>
                <li class="{% if active_menu == 'events' %}active{% endif %}"><a href="{% url 'event_home' %}">Events</a></li>
            </ul>
            {% endif %}
        </nav>

        <div class="user_functions">
            <div>
                {% if user and user.is_authenticated %}
                    <ul>
                        {% if user.is_superuser %}
                        <li class="{% if active_menu == 'manage_events' %}active{% endif %}"><a href="{% url 'event_manage' %}"><i class="fa-solid fa-calendar-days"></i> Manage Events</a></li>
                        <li class="{% if active_menu == 'manage_organizers' %}active{% endif %}"><a href="{% url 'organizer_manage' %}"><i class="fa-solid fa-clipboard-user"></i> Manage Organizers</a></li>
                        <li class="{% if active_menu == 'manage_participants' %}active{% endif %}"><a href="{% url 'participant_manage' %}"> <i class="fa-solid fa-users"></i>Manage Participants</a></li>
                        {% endif %}
                    </ul>
                {% endif %}

                    <ul>
                        {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Log-in</a></li>
                        {% endif %}
                        {% if user and user.is_authenticated %}
                        <li class="{% if active_menu == 'profile' %}active{% endif %}"><a href="{% url 'profile' user_id=user.pk %}"><i class="fa-solid fa-user"></i> Profile</a></li>
                        <li id="logout_btn"><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>

    </div>
    {% endif %}

    <header>

    </header>

    <main>
        <div class="wrapper">
            <div class="main_con">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% block content %} {% endblock content %}

            </div>
        </div>
    </main>
<!--    MODAL-->
    <div id="modal_alert" style="display:none;">
        <div id="modal_overlay"></div>
        <div id="modal">
            <div class="modal_con">
                <div class="modal_header">
                    <h2 id="modal_title">header</h2>
                </div>
                <div class="modal_body">
                    <p id="modal_text">body</p>
                </div>
                <div id="modal_footer" class="modal_footer" style="display:none">
                    <button id="modal_yes">Yes</button>
                    <button id="modal_no">No</button>
                </div>
            </div>
        </div>
    </div>
<!--    END MODAL-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<!--    INITIALIZE MODAL-->
    <script>
        function showModal(content){
            $('#modal_title').html(content.title);
            $('#modal_text').html(content.body);
            if(content.showFooter !== false)
            {
                $("#modal_footer").show();
                $("#modal_yes").on('click', content.onYes)
                $("#modal_no").on('click', function(){
                    $('#modal_alert').hide();
                });
            }
            if(content.outsideClick !== false){
                $("#modal_overlay").on('click', function(){
                    $('#modal_alert').hide();
                });
            }
            $('#modal_alert').show();
        }
        function hideModal(){
            $('#modal_alert').hide();
        }
    </script>
<!--    END INITIALIZE MODAL-->
    {% block scripts %}{% endblock scripts %}
</body>
</html>