{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Event Details</h2>
<p>Title: {{ event.title }}</p>
<p>Description: {{ event.description }}</p>
<p>Venue: {{ event.venue }}</p>
<p>Start Date: {{ event.start_date }}</p>
<p>End Date: {{ event.end_date }}</p>
<p>Organizer: {{ event.organizer }}</p>

{% if event.end_date >= today %}
  <a class="btn btn-primary" href="{% url 'event_participate' event_id=event.pk %}">Accept Participants</a>
{% endif %}

<h2>Participants ({{ participants.count }})</h2>

<div class="btns" style="margin-bottom:15px;">
    <a href="{% url 'generate_csv' event_id=event.pk %}" class="btn">Export</a>
    <a href="{% url 'send_survey' event_id=event.pk %}" class="btn btn-secondary">Send Survey</a>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>In</th>
            <th>Out</th>
        </tr>
    </thead>
    <tbody>
{% for participant in participants %}
        <tr>
            <td>{{ participant.participant_user.last_name }}, {{ participant.participant_user.first_name }} {{ participant.participant_user.middle_name }}</td>
            <td>{{ participant.scan_in }}</td>
            <td>{{ participant.scan_out }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
