{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Event Details</h2>
<p>Title: {{ event.title }}</p>
<p>Description: {{ event.description }}</p>
<p>Venue: {{ event.venue }}</p>
<p>Start Date: {{ event.start_date }}</p>
<p>End Date: {{ event.end_date }}</p>
<p>Organizer: {{ event.organizer }}</p>
<a class="btn btn-primary" href="{% url 'event_participate' event_id=event.pk %}">Accept Participants</a>
<h2>Participants ({{ participants.count }})</h2>

<ol>
{% for participant in participants %}
    <li>{{ participant.user.last_name }}, {{ participant.user.first_name }} {{ participant.user.middle_name }} - participated on {{ participant.date_participated }}</li>
{% endfor %}
</ol>
{% endblock content %}