{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Your Events</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for event in events %}
    <tr>
        <td><a href="{% url 'event_details' event_id=event.pk %}">{{ event.title }}</a></td>
        <td>{{ event.description }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td>
            {% if event.end_date <= today %}
                <a href="{% url 'event_participate' event_id=event.id %}">Accept Participants</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}

    </tbody>
</table>

{% endblock content %}
