{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Manage Events</h1>
<div>
    <a href="{% url 'event_create' %}">Create Event</a>
    <a id="trigger" href="javascript:;">Delete</a>
</div>
<table class="events-tbl">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
{% for event in events %}
    <tr>
        <td><input name="events_checkbox" type="checkbox" value="{{ event.pk }}" /></td>
        <td><a href="{% url 'event_details' event_id=event.pk %}">{{ event.title }}</a></td>
        <td>{{ event.description }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td><a href="{% url 'event_participate' event_id=event.id %}">Accept Participants</a></td>
    </tr>
{% endfor %}
</table>
{% endblock content %}

{% block scripts %}
<script>
var values = [];
$("#trigger").on("click", function(){
    $.each($("input[name='events_checkbox']:checked"), function(){
      values.push($(this).val());
    });
    alert("selected: "+values);
})
</script>
{% endblock scripts %}