{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Manage Events</h1>
<div>
    <a href="{% url 'event_create' %}">Create Event</a>
    <a id="trigger" href="javascript:;">Delete</a>
</div>
<table class="events-tbl">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for event in events %}
    <tr>
        <td><input name="events_checkbox" type="checkbox" value="{{ event.pk }}" /></td>
        <td><a href="{% url 'event_details' event_id=event.pk %}">{{ event.title }}</a></td>
        <td>{{ event.description }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td><a href="{% url 'event_edit' event_id=event.id %}">Edit</a></td>
    </tr>
    </tbody>
{% endfor %}
</table>
{% endblock content %}

{% block scripts %}
<script>
var values = [];

function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
$.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        }
      }
});

$("#trigger").on("click", function(){
    $.each($("input[name='events_checkbox']:checked"), function(){
      values.push($(this).val());
    });

    $.ajax({
          type: 'POST',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({"delete_list": values}),
          dataType: 'json',
          success: function(response){
                if(response["isSuccess"]){
                    window.location.href = "{% url 'event_manage' %}";
                }
                else{
                    alert("error");
                }
            },
           error: function(response){
                alert("error");
           }
    });
})
</script>
{% endblock scripts %}